<% if @todo.is_a? Hash %>
  $('.message-here').show();
  $('.message-here').html(`<% if notice %><p class="alert alert-success">
    <%= notice %></p><% end %>
    <% if @todo.key?(:errors) %><div class="alert alert-danger">
    <% @todo[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %><% end %>`);
  $('.message-here').delay(3000).fadeOut();
  setTimeout(location.reload.bind(location), 4000);
<% else %>
$('.message-here').hide();
  $('#T<%= j @todo.id %>').remove();

  if($('.todo').length == 0){
    location.reload();
  }
<% end %>
arrow_correction();